body {
    position: relative;
    width: auto;
    height: auto;
    background: linear-gradient(170.67deg, #41436A 6.29%, rgba(255, 255, 255, 0.94) 106.47%);
}

.navbar {
    margin-bottom: 0;
    flex-direction: row;
    /* display: flex; */
    justify-content: right;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style-type: none;
    /* margin-right: 50px; */
    padding: 2px;
    margin: 0;

}

.parent {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.info {
    width: 30%;
    padding: 0 0 0 25px;
    margin-left: 2em;
    text-align: left;

}

.app {
    width: 70%;
    padding: 25px;
    display: block;
    justify-content: start;
    align-items: start;
    margin-left: 12.5em;
    margin-right: 2em;
}

li {
    float: right;
    margin: 13px;
}

a {
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 0em 0.25em;
    line-height: 34px;
    text-decoration: none;

    color: #FFFFFF;

}

a:hover {
    color: #E19691;
}


.login {
    padding: 2px 6px;
    box-sizing: border-box;
    border: 1.5px solid #FF9677;
    border-radius: 13px;
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-right: -3px;
    transition: 0.16s;

    color: #FFFFFF;
}

.login:hover {
    background: #FF9677;
    color: #41436A;
    transition: 0.16s;
}

.signup {
    padding: 2px 6px;
    box-sizing: border-box;
    background: #FF9677;
    border: 1.5px solid #FF9677;
    border-radius: 13px;
    font-family: 'Yuanti TC';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-right: 50px;
    transition: 0.16s;


    color: #41436A;
}

.signup:hover {
    background: none;
    border: 1.5px solid #FF9677;
    color: #FFFFFF;
    transition: 0.16s;
}


.h {
    margin: -3px;
    font-family: 'Yuanti SC';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    height: 100px;
    color: #FFFFFF;
    display: flex;
    justify-content: start;
    align-items: center;

}

.h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;
    color: #FFFFFF;
    margin-top: 20px;

}

.slay {
    margin: 25px 0px 25px 0;
}

.big {
    width: 470px;
    height: 97px;
    background: linear-gradient(105.76deg, rgba(255, 255, 255, 0.4) 69.53%, rgba(255, 255, 255, 0) 116.19%);
    border: 1px solid rgba(65, 67, 106, 0.6);
    box-shadow: 1px 1px 4px 3px rgba(65, 67, 106, 0.2);
    border-radius: 40px;
    color: #41436A;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding: 5px 14px 5px 14px;
    margin: 0px 0px 25px 0px;
}

.blue {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 470px;
    height: 118px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #41436A;
    border-radius: 40px;
    padding: 5px 12px 5px 12px;
    margin: 0px 0px 25px 0px;

}

.small {
    width: 470px;
    height: 65px;
    background: linear-gradient(96.92deg, rgba(255, 255, 255, 0.4) 44.59%, rgba(255, 255, 255, 0) 104.62%);
    border: 1px solid rgba(65, 67, 106, 0.6);
    box-shadow: 1px 1px 4px 3px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px;
    color: #41436A;
    padding: 6px 12px 6px 12px;
    margin: 0px 0px 25px 0px;

}

.join {
    width: 470px;
    height: 97px;
    background: #41436A;
    border-radius: 40px;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    font-family: 'Yuanti SC';

}

.join:hover {
    background: #FF9677;
    color: #41436A;
    border-radius: 20px;
    transition: 0.25s;
}

.cards {
    font-family: 'Yuanti SC';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin: 7px 0px 0 0;
    color: #FF9070;
}

.images {
    display: block;
}

.acty {
    font-family: 'Yuanti SC';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 16px;
    color: #41436A;
}